In [ ]:
import pandas as pd
import matplotlib.pyplot as plt


print(pd.__version__)

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5
3.0.0

[notice] A new release of pip is available: 25.0.1 -> 26.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [14]:
##analise primeiro semestre
df1 = pd.read_excel("SPDadosCriminais_2025.xlsx",'JAN_A_JUN_2025')
df1.head()
df1.info()

<class 'pandas.DataFrame'>
RangeIndex: 585427 entries, 0 to 585426
Data columns (total 29 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NOME_DEPARTAMENTO                585427 non-null  str
 1   NOME_SECCIONAL                   585427 non-null  str
 2   NOME_DELEGACIA                   585427 non-null  str
 3   NOME_MUNICIPIO                   585427 non-null  str
 4   NUM_BO                           585427 non-null  str
 5   ANO_BO                           585427 non-null  int64
 6   DATA_REGISTRO                    585427 non-null  datetime64[us]
 7   DATA_OCORRENCIA_BO               585427 non-null  datetime64[us]
 8   HORA_OCORRENCIA_BO               415962 non-null  object
 9   DESC_PERIODO                     169464 non-null  str
 10  DESCR_TIPOLOCAL                  585426 non-null  str
 11  DESCR_SUBTIPOLOCAL               585427 non-null  str
 12  BAIRRO                           576888 non-null  object
 13  LOGRADOURO                       585426 non-null  object
 14  NUMERO_LOGRADOURO                479889 non-null  float64
 15  LATITUDE                         534922 non-null  object
 16  LONGITUDE                        534922 non-null  object
 17  NOME_DELEGACIA_CIRCUNSCRICAO     585427 non-null  str
 18  NOME_DEPARTAMENTO_CIRCUNSCRICAO  585427 non-null  str
 19  NOME_SECCIONAL_CIRCUNSCRICAO     585427 non-null  str
 20  NOME_MUNICIPIO_CIRCUNSCRICAO     585427 non-null  str
 21  RUBRICA                          585425 non-null  str
 22  DESCR_CONDUTA                    421379 non-null  str
 23  NATUREZA_APURADA                 585427 non-null  str
 24  MES_ESTATISTICA                  585427 non-null  int64
 25  ANO_ESTATISTICA                  585427 non-null  int64
 26  CMD                              585427 non-null  str
 27  BTL                              585427 non-null  str
 28  CIA                              585427 non-null  str
dtypes: datetime64[us](2), float64(1), int64(3), object(5), str(18)
memory usage: 129.5+ MB

In [15]:
#analise segundo semestre

df2 = pd.read_excel("SPDadosCriminais_2025.xlsx",'JUL_A_DEZ_2025')
df2.head()
df2.info()

<class 'pandas.DataFrame'>
RangeIndex: 575705 entries, 0 to 575704
Data columns (total 29 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   NOME_DEPARTAMENTO                575705 non-null  str
 1   NOME_SECCIONAL                   575705 non-null  str
 2   NOME_DELEGACIA                   575705 non-null  str
 3   NOME_MUNICIPIO                   575705 non-null  str
 4   NUM_BO                           575705 non-null  str
 5   ANO_BO                           575705 non-null  int64
 6   DATA_REGISTRO                    575705 non-null  datetime64[us]
 7   DATA_OCORRENCIA_BO               575697 non-null  datetime64[us]
 8   HORA_OCORRENCIA_BO               415695 non-null  object
 9   DESC_PERIODO                     160010 non-null  str
 10  DESCR_TIPOLOCAL                  575705 non-null  str
 11  DESCR_SUBTIPOLOCAL               575705 non-null  str
 12  BAIRRO                           571654 non-null  object
 13  LOGRADOURO                       575705 non-null  object
 14  NUMERO_LOGRADOURO                475800 non-null  float64
 15  LATITUDE                         534783 non-null  float64
 16  LONGITUDE                        534783 non-null  float64
 17  NOME_DELEGACIA_CIRCUNSCRICAO     575705 non-null  str
 18  NOME_DEPARTAMENTO_CIRCUNSCRICAO  575705 non-null  str
 19  NOME_SECCIONAL_CIRCUNSCRICAO     575705 non-null  str
 20  NOME_MUNICIPIO_CIRCUNSCRICAO     575705 non-null  str
 21  RUBRICA                          575704 non-null  str
 22  DESCR_CONDUTA                    404965 non-null  str
 23  NATUREZA_APURADA                 575705 non-null  str
 24  MES_ESTATISTICA                  575705 non-null  int64
 25  ANO_ESTATISTICA                  575705 non-null  int64
 26  CMD                              575705 non-null  str
 27  BTL                              575705 non-null  str
 28  CIA                              575705 non-null  str
dtypes: datetime64[us](2), float64(3), int64(3), object(3), str(18)
memory usage: 127.4+ MB

In [16]:
#JUNTANDO OS DOIS SEMESTRES#
df = pd.concat([df1, df2], ignore_index=True)

In [26]:
#VERIFICANDO VALORES NULOS 
df.isnull().sum()

NOME_DEPARTAMENTO                       0
NOME_SECCIONAL                          0
NOME_DELEGACIA                          0
NOME_MUNICIPIO                          0
NUM_BO                                  0
ANO_BO                                  0
DATA_REGISTRO                           0
DATA_OCORRENCIA_BO                      8
HORA_OCORRENCIA_BO                 329475
DESC_PERIODO                       831658
DESCR_TIPOLOCAL                         1
DESCR_SUBTIPOLOCAL                      0
BAIRRO                              12590
LOGRADOURO                              1
NUMERO_LOGRADOURO                  205443
LATITUDE                            91427
LONGITUDE                           91427
NOME_DELEGACIA_CIRCUNSCRICAO            0
NOME_DEPARTAMENTO_CIRCUNSCRICAO         0
NOME_SECCIONAL_CIRCUNSCRICAO            0
NOME_MUNICIPIO_CIRCUNSCRICAO            0
RUBRICA                                 3
DESCR_CONDUTA                      334788
NATUREZA_APURADA                        0
MES_ESTATISTICA                         0
ANO_ESTATISTICA                         0
CMD                                     0
BTL                                     0
CIA                                     0
dtype: int64

In [25]:
#VERIFICANDO QUANTIDADE DE LINHAS#
df.shape

(1161132, 29)

In [ ]:

teste= 12590/1161132 * 100
print (teste)
#PODEMOS VER QUE OS REGISTROS SEM BAIXOS CORRESPONDEM A 1 % DO TAMANHO AMOSTRAL, COMO MINHA ANALISE É ESPECIFICA VOU RETIRAR ESSES VALORES#

1.0842867133108036

In [31]:
#checando se o registro de bairros nulos está concentrado em um unico grupo#

df[df["BAIRRO"].isna()]["NATUREZA_APURADA"].value_counts(normalize=True)

NATUREZA_APURADA
FURTO - OUTROS                                     0.452820
LESÃO CORPORAL DOLOSA                              0.162986
LESÃO CORPORAL CULPOSA POR ACIDENTE DE TRÂNSITO    0.088721
TRÁFICO DE ENTORPECENTES                           0.062033
ROUBO - OUTROS                                     0.055520
FURTO DE VEÍCULO                                   0.043129
ROUBO DE VEÍCULO                                   0.031454
PORTE DE ENTORPECENTES                             0.022875
HOMICÍDIO CULPOSO POR ACIDENTE DE TRÂNSITO         0.016203
ESTUPRO DE VULNERÁVEL                              0.014774
PORTE DE ARMA                                      0.010167
ROUBO DE CARGA                                     0.008261
TENTATIVA DE HOMICÍDIO                             0.007863
APREENSÃO DE ENTORPECENTES                         0.006195
ESTUPRO                                            0.005481
HOMICÍDIO DOLOSO                                   0.004766
LESÃO CORPORAL CULPOSA - OUTRAS                    0.003654
FURTO DE CARGA                                     0.001827
EXTORSÃO MEDIANTE SEQUESTRO                        0.000556
HOMICÍDIO CULPOSO OUTROS                           0.000318
HOMICÍDIO DOLOSO POR ACIDENTE DE TRÂNSITO          0.000159
LATROCÍNIO                                         0.000159
LESÃO CORPORAL SEGUIDA DE MORTE                    0.000079
Name: proportion, dtype: float64

In [35]:
#EXCLUINDO REGISTROS COM BAIRROS VAZIOS#

df_sem_bairro_vazios = df.dropna(subset=["BAIRRO"])
df_sem_bairro_vazios.isnull().sum()

NOME_DEPARTAMENTO                       0
NOME_SECCIONAL                          0
NOME_DELEGACIA                          0
NOME_MUNICIPIO                          0
NUM_BO                                  0
ANO_BO                                  0
DATA_REGISTRO                           0
DATA_OCORRENCIA_BO                      8
HORA_OCORRENCIA_BO                 325601
DESC_PERIODO                       822942
DESCR_TIPOLOCAL                         1
DESCR_SUBTIPOLOCAL                      0
BAIRRO                                  0
LOGRADOURO                              1
NUMERO_LOGRADOURO                  202270
LATITUDE                            91386
LONGITUDE                           91386
NOME_DELEGACIA_CIRCUNSCRICAO            0
NOME_DEPARTAMENTO_CIRCUNSCRICAO         0
NOME_SECCIONAL_CIRCUNSCRICAO            0
NOME_MUNICIPIO_CIRCUNSCRICAO            0
RUBRICA                                 3
DESCR_CONDUTA                      329743
NATUREZA_APURADA                        0
MES_ESTATISTICA                         0
ANO_ESTATISTICA                         0
CMD                                     0
BTL                                     0
CIA                                     0
dtype: int64

In [ ]:
#CHEGANDO SE HOUVE A LIMPEZA#
df.shape[0]
df_sem_bairro_vazios.shape[0]

1148542

In [ ]:
#RANCKING POR BAIRRO#

ranking_bairro = (
    df_sem_bairro_vazios.groupby("BAIRRO")
    .size()
    .reset_index(name="Total_Crimes")
    .sort_values("Total_Crimes", ascending=False)
)

In [46]:
ranking_bairro.head(10)

              BAIRRO  Total_Crimes
5397          CENTRO         62407
8918          Centro         18450
39834          RURAL         15042
34473      PINHEIROS          8945
3188      BELA VISTA          7577
46280   VILA MARIANA          7388
41484    SANTO AMARO          7222
1134      AREA RURAL          6825
4954   CAPAO REDONDO          6600
41468        SANTANA          6578

In [ ]:
#DEIXANDO TUDO MAIUSCULO NO BAIRRO#

df_sem_bairro_vazios["BAIRRO"] = (
    df_sem_bairro_vazios["BAIRRO"]
    .str.upper()
    .str.strip()
)

In [49]:
ranking_bairro = (
    df_sem_bairro_vazios
    .groupby("BAIRRO")
    .size()
    .reset_index(name="Total_Crimes")
    .sort_values("Total_Crimes", ascending=False)
)

In [50]:
ranking_bairro.head(10)

                BAIRRO  Total_Crimes
4360            CENTRO         82187
29720            RURAL         15651
25772        PINHEIROS         11252
2922        BELA VISTA         10257
30142      SANTO AMARO          9277
34236     VILA MARIANA          9138
30127          SANTANA          7845
2807       BARRA FUNDA          7341
15306  JARDIM PAULISTA          7071
1091        AREA RURAL          6888

In [ ]:
#DELIMITANDO A ANALISE POR BAIRRO URBANO# 

df_bairro_urbano = df_sem_bairro_vazios[df_sem_bairro_vazios["BAIRRO"] != "RURAL"]

#Foi realizada a padronização dos nomes dos bairros para evitar duplicidade de categorias causadas por variações de capitalização e espaços em branco.
# Além disso, categorias genéricas como "RURAL" foram tratadas separadamente, por não representarem bairros urbanos específicos.

In [53]:
ranking_bairro = (
    df_bairro_urbano
    .groupby("BAIRRO")
    .size()
    .reset_index(name="Total_Crimes")
    .sort_values("Total_Crimes", ascending=False)
)
ranking_bairro.head(10)

                BAIRRO  Total_Crimes
4360            CENTRO         82187
25772        PINHEIROS         11252
2922        BELA VISTA         10257
30141      SANTO AMARO          9277
34235     VILA MARIANA          9138
30126          SANTANA          7845
2807       BARRA FUNDA          7341
15306  JARDIM PAULISTA          7071
1091        AREA RURAL          6888
10777         IPIRANGA          6862

In [55]:
#PRECISO RELACIONAR O CENTRO COM O MUNICIPIO PARA TER MAIS INFORMAÇÕES, CENTRO DA ONDE?#
df_bairro_urbano["BAIRRO_MUNICIPIO"] = (
     df_bairro_urbano["BAIRRO"] + " - " + df_bairro_urbano["NOME_MUNICIPIO"]
)

In [ ]:
ranking_bairro = (
    df_bairro_urbano
    .groupby("BAIRRO_MUNICIPIO")
    .size()
    .reset_index(name="Total_Crimes")
    .sort_values("Total_Crimes", ascending=False)
)
ranking_bairro.head(10)

#OS 10 BAIRROS MAIS PERIGOSOS FICAM NA CIDADE DE SP#

              BAIRRO_MUNICIPIO  Total_Crimes
40346      PINHEIROS - S.PAULO         11189
46400    SANTO AMARO - S.PAULO          9272
4660      BELA VISTA - S.PAULO          8974
52926   VILA MARIANA - S.PAULO          8750
46377        SANTANA - S.PAULO          7479
4322     BARRA FUNDA - S.PAULO          7145
15867     ITAIM BIBI - S.PAULO          6734
6170   CAPAO REDONDO - S.PAULO          6576
42818      REPUBLICA - S.PAULO          6410
5123      BOM RETIRO - S.PAULO          6192

In [ ]:
#VERIFICANDO MUDANÇAS#
df_bairro_urbano.head()
df_bairro_urbano.info()

<class 'pandas.DataFrame'>
Index: 1132891 entries, 0 to 1161131
Data columns (total 30 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   NOME_DEPARTAMENTO                1132891 non-null  str
 1   NOME_SECCIONAL                   1132891 non-null  str
 2   NOME_DELEGACIA                   1132891 non-null  str
 3   NOME_MUNICIPIO                   1132891 non-null  str
 4   NUM_BO                           1132891 non-null  str
 5   ANO_BO                           1132891 non-null  int64
 6   DATA_REGISTRO                    1132891 non-null  datetime64[us]
 7   DATA_OCORRENCIA_BO               1132883 non-null  datetime64[us]
 8   HORA_OCORRENCIA_BO               811701 non-null   object
 9   DESC_PERIODO                     321189 non-null   str
 10  DESCR_TIPOLOCAL                  1132890 non-null  str
 11  DESCR_SUBTIPOLOCAL               1132891 non-null  str
 12  BAIRRO                           1132847 non-null  object
 13  LOGRADOURO                       1132890 non-null  object
 14  NUMERO_LOGRADOURO                935175 non-null   float64
 15  LATITUDE                         1041696 non-null  object
 16  LONGITUDE                        1041696 non-null  object
 17  NOME_DELEGACIA_CIRCUNSCRICAO     1132891 non-null  str
 18  NOME_DEPARTAMENTO_CIRCUNSCRICAO  1132891 non-null  str
 19  NOME_SECCIONAL_CIRCUNSCRICAO     1132891 non-null  str
 20  NOME_MUNICIPIO_CIRCUNSCRICAO     1132891 non-null  str
 21  RUBRICA                          1132888 non-null  str
 22  DESCR_CONDUTA                    810000 non-null   str
 23  NATUREZA_APURADA                 1132891 non-null  str
 24  MES_ESTATISTICA                  1132891 non-null  int64
 25  ANO_ESTATISTICA                  1132891 non-null  int64
 26  CMD                              1132891 non-null  str
 27  BTL                              1132891 non-null  str
 28  CIA                              1132891 non-null  str
 29  BAIRRO_MUNICIPIO                 1132847 non-null  str
dtypes: datetime64[us](2), float64(1), int64(3), object(5), str(19)
memory usage: 267.9+ MB

In [63]:
df_roubos_sp = df_bairro_urbano[
    df_bairro_urbano["NATUREZA_APURADA"] == "ROUBO - OUTROS"
]

ranking_bairro = (
    df_roubos_sp
    .groupby("BAIRRO_MUNICIPIO")
    .size()
    .reset_index(name="Total_Roubos")
    .sort_values("Total_Roubos", ascending=False)
)

ranking_bairro.head(20)
#OS 10 BAIRROS MAIS PERIGOSOS FICAM NA CIDADE DE SP#

                BAIRRO_MUNICIPIO  Total_Roubos
947      CAPAO REDONDO - S.PAULO          2942
8527         PINHEIROS - S.PAULO          2370
904        CAMPO LIMPO - S.PAULO          2213
9468       SANTO AMARO - S.PAULO          1873
3068     JARDIM ANGELA - S.PAULO          1866
7013       JD SÃO LUIS - S.PAULO          1657
9012         REPUBLICA - S.PAULO          1476
2592            GRAJAU - S.PAULO          1454
689         BELA VISTA - S.PAULO          1380
11048     VILA MARIANA - S.PAULO          1353
2750        ITAIM BIBI - S.PAULO          1348
9466           SANTANA - S.PAULO          1250
2732          IPIRANGA - S.PAULO          1237
2769          ITAQUERA - S.PAULO          1185
640        BARRA FUNDA - S.PAULO          1185
2752    ITAIM PAULISTA - S.PAULO          1081
9544                SE - S.PAULO          1080
7199              LAPA - S.PAULO          1049
5196   JARDIM PAULISTA - S.PAULO          1020
2819         JABAQUARA - S.PAULO          1008

In [65]:
#tirando cidade de são paulo#

df_roubos_sp_sem_capital = df_roubos_sp[
    ~df_roubos_sp["NOME_MUNICIPIO"].str.upper().isin(["S.PAULO", "SÃO PAULO"])
]

ranking_municipios_sem_sp = (
    df_roubos_sp_sem_capital
    .groupby("BAIRRO_MUNICIPIO")
    .size()
    .reset_index(name="Total_Roubos")
    .sort_values("Total_Roubos", ascending=False)
)

ranking_municipios_sem_sp.head(15)

                       BAIRRO_MUNICIPIO  Total_Roubos
278            AREA RURAL - CARAPICUIBA           774
1252       CENTRO - S.BERNARDO DO CAMPO           580
7319       PIRAJUSSARA - EMBU DAS ARTES           565
1063                   CENTRO - DIADEMA           560
1039                  CENTRO - CAMPINAS           514
9450         VILA MARGARIDA - S.VICENTE           469
1192                    CENTRO - OSASCO           403
2021                CUMBICA - GUARULHOS           387
1248                   CENTRO - S.ANDRE           366
7304               PIMENTAS - GUARULHOS           355
8060  RUDGE RAMOS - S.BERNARDO DO CAMPO           279
354   BAETA NEVES - S.BERNARDO DO CAMPO           275
1096                 CENTRO - GUARULHOS           232
5422                JARDIM ZAIRA - MAUA           226
9186            VILA GALVÃO - GUARULHOS           218

In [ ]:
df_roubos_sp_sem_capital.to_excel(
    "roubos_sp_sem_capital.xlsx",
    index=False
)
df_bairro_urbano.to_excel(
    "Bairro_urbano.xlsx",
    index=False
)